::deep .custom-input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.125rem;
  outline-style: none;
  width: 100%;
  height: 2rem;
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}

@media (min-width: 768px) {
  ::deep .custom-input {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 2.5rem;
  }
}
