@if (!String.IsNullOrEmpty(Data))
{
    <span class="@("flex " + AdditionalClasses)" @attributes="RemainingAttributes">@(new MarkupString(Data))</span>
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter] public string Data { get; set; } = String.Empty;

    private string? AdditionalClasses;
    private IDictionary<string, object>? RemainingAttributes;

    protected override void OnInitialized()
    {
        if (AdditionalAttributes != null)
        {
            AdditionalClasses = AdditionalAttributes["class"].ToString();
            RemainingAttributes = AdditionalAttributes;
            RemainingAttributes.Remove("class");
        }
    }
}
