@inherits LayoutComponentBase

<div class="relative flex flex-col md:flex-row h-full">
    <Navbar />
    <main class="relative flex flex-col md:w-full h-full overflow-auto">
        @Body
    </main>
</div>
