@using DotKeeps.Shared
@using System.Text.Json
@inject HttpClient HttpClient
@page "/"

<PageTitle>DotKeeps Home</PageTitle>

<div class="flex flex-col gap-3 md:gap-6 p-3 md:p-6">
  <h1 class="text-xl md:text-2xl font-bold">Welcome to DotKeeps!</h1>
  <div class="flex flex-col gap-3 md:gap-6 w-full max-w-[1024px] text-lg md:text-xl">
    <p>DotKeeps is an app that helps you save and manage where you stopped at a certain media, like series seasons,
      comics volumes, or manga chapters. No more hundreds of open tabs, everything is in one place.</p>
    <p>The project is free and open source, no data is sold to any third parties.</p>
    <p>The app will go through updates now and then, feel free to contribute <a
        href="https://github.com/hs-wolf/dotkeeps" class="text-blue-600">in the repository</a>.</p>
    <p>If by any chance the project comes to and end, registered users will be able to download their data.</p>
    <p class="font-bold">To start, go to the <NavLink href="following" class="text-blue-600">Following</NavLink> page
      and start adding stuff!
    </p>
  </div>
</div>